* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header */

.header {
    background-color: #a6e3ff;
    padding: 20px 0;


}

.container-figli-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    background-color: yellow;
    margin: auto;
    line-height: 25px;

}

.logo-header {
    border: 1px solid black;
    width: 20%;
}

.lista-header {
    list-style-type: none;
    flex-grow: 1;
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

.link-item {
    display: inline-block;
    margin: 0 5px 0 5px;
}

.login-header {
    border: 1px solid black;
    width: 20%;
    text-align: right
}