* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.debug section {
    height: 250px;
}

.debug .section-5 {
    height: 500px;
}

.debug footer {
    height: 350px;
}

/* Header */

.debug .header {
    background-color: #a6e3ff;
    padding: 20px 0;
}

.debug .container-figli-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    background-color: yellow;
    margin: auto;
    line-height: 25px;

}

.logo-header {
    border: 1px solid black;
    width: 20%;
}

.lista-header {
    list-style-type: none;
    flex-grow: 1;
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

.link-item {
    display: inline-block;
    margin: 0 5px 0 5px;
}

.login-header {
    border: 1px solid black;
    width: 20%;
    text-align: right
}

/* Main */



.main>section {
    display: flex;
    justify-content: center;
    align-items: center;

}

.section-1 {
    background-color: blue;

}

.section-2 {
    background-color: white;

}

.section-3 {
    background-color: gray;
}

.section-4 {
    background-color: white;
}

.section-5 {
    background-color: gray;

}

/* figli section main */

.section-1>div {
    background-color: rgb(255, 137, 157);
    height: 200px;
    width: 500px;
}

.section-2>div:first-child {
    height: 200px;
    width: 400px;
    background-color: rgb(16, 195, 255);
}

.section-2>div:last-child {
    height: 200px;
    width: 200px;
    background-color: pink;
}

.section-3>div:first-child {
    height: 200px;
    width: 400px;
    background-color: pink;
}


.section-3>div:last-child {
    height: 200px;
    width: 200px;
    background-color: rgb(16, 195, 255);

}

.section-4>div:first-child {
    height: 200px;
    width: 400px;
    background-color: rgb(16, 195, 255);
}

.section-4>div:last-child {
    height: 200px;
    width: 200px;
    background-color: pink;
}

.section-5>div {
    height: 450px;
    width: 600px;
    background-color: green;
}

/* Footer */

footer {
    background-color: rgba(0, 0, 0, 0.818);

}

.footer-div-1 {
    display: flex;
    justify-content: center;
    align-items: center;

}


.footer-div-1>.square-pink {
    height: 240px;
    width: 200px;
    background-color: pink;
    margin-top: 10px;

}

.footer-div-1>.square-cyan {
    height: 240px;
    width: 100px;
    background-color: rgb(30 161 130);
    border: 1px solid white;
    margin-top: 10px;

}

/* footer>section.footer-section-2 {
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    width: 600px;
    height: 30px;
    margin: auto;
    background-color: #a6e3ff;
}

footer>.footer-section-2>div {
    border: 1px solid black;
    display: flex;
    text-align: center;
    background-color: pink;
}

.footer-logo {

    text-align: center;
}

.footer-bottone {

    text-align: center;
} */


.footer-logo,
.footer-bottone {
    background-color: pink;
    color: black;
    border: 1px solid black;
}

.div-footer {
    display: inline-block;
    width: 600px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    color: white;
    background-color: #bcf1df;
    height: 30px;
    align-items: center;
    margin-top: 30px;
}

.line {
    border: 1px solid #9e9e9e;
    width: 600px;
    margin: auto;
    margin-top: 38px;
}